<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/home.css">
        <script src="/static/js/home.js"></script>
        <title>snsマッチ</title>
    </head>
    <body>
        <div class="container">
            <h1>ゲームを選択</h1>
            <form action="/game-recruitment" method="post">
                <label for="game">ゲーム：</label>
                <select id="game" name="game" required>
                    <option value="" disabled selected>ゲームを選択してください</option>
                    <option value="game1">ゲーム1</option>
                    <option value="game2">ゲーム2</option>
                    <option value="game3">ゲーム3</option>
                    <!-- 他のゲームをここに追加 -->
                </select>
                <button type="submit">次へ</button>
            </form>
        </div>
    </body>
    </html>