<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/match.css">
        <script src="/static/js/match.js"></script>
        <title>snsマッチ</title>
    </head>
    <body>
        <div class="match-container">
            <h2>マッチング画面</h2>
            <div id="user-list">
                <!-- マッチしたユーザーを表示するための要素 -->
            </div>
        </div>
    </body>
    </html>